.about__progress-list {
  position: relative;
  min-height: 700px;

  background-image: url("../../../images/direction-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 95px 75px;
}
