.about__progress-list-item--tablet {
  top: 300px;
  right: -10px;

  &::after {
    position: absolute;
    content: "";

    width: 65px;
    height: 63px;

    bottom: 80px;
    left: 30px;
    background-image: url("../../../../images/tablet-mobile.png");
    background-repeat: no-repeat;
  }
}
