.hero {
  color: white;
  background-image: url("../../images/intro-mobile.png"), url("../../images/glow-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-position: -19px 12px, 0 0;
}

@import "./--padding-top/hero--padding-top.scss";
@import "./__title/hero__title.scss";
@import "./__text/hero__text.scss";
@import "./__button/hero__button.scss";
