.main-nav__toggle {
  position: absolute;
  top: 2px;
  right: 0;

  display: block;
  width: 25px;
  height: 16px;

  background-color: transparent;

  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;

  width: 25px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 5px;
    right: 0;
    z-index: 100;

    width: 15px;
    height: 1px;

    background-color: #b4b4b4;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
