@import "../main-nav/__toggle/main-nav__toggle.scss";

.main-nav {
  position: relative;

  width: 100%;

  // background-color: purple;
  // background-image: url("../page-header/background-mobile.jpg");
  background-image: url('./image.png');
}
